{{ template "chrome/header.html" . }}
<body lang="en" itemscope itemtype="http://schema.org/Article">
{{ template "chrome/subheader.html" . }}
{{ $baseurl := .Site.BaseUrl }}

<section id="main">
    <header>
        <h1 itemprop="name" id="title">{{ .Title }}</h1>
        <div class="post-meta text-success">{{ .Date.Format "Mon, Jan 2, 2006" }} </div>
        <div id="categories">
        {{ range .Params.topics }}
            <span>
                <a href="{{ $baseurl }}/topics/{{ . | urlize }}" class="btn btn-primary btn-xs">{{ . }}</a>
            </span>
        {{ end }}
        </div>
        <div id="tags">
        {{ range .Params.tags }}
            <span>
                <a href="{{ $baseurl }}/tags/{{ . | urlize }}" class="btn btn-primary btn-xs">{{ . }}</a>
            </span>
        {{ end }}
        </div>
    </header>
  
    <div>
        <article itemprop="articleBody" id="content">
           {{ .Content }}
        </article>
    </div>
</section>

{{ if isset .Params "disqus_url" }}
    {{ template "chrome/disqus.html" . }}
{{ end }}

{{ template "chrome/footer.html" . }}
