{{ $baseurl := .Site.BaseUrl }}

    <section id="author">
        <h3>peter aba</h3>
        <p>
            Peter is an avid learner and he likes to share his findings on this blog. Expect to see only technical 
            posts here, mostly on webprogramming.<br>
            Peter has been hacking in PHP and JavaScript for over 12 years, but recently started experimenting 
            with a much wider variety of programming languages like Python, Hack and especially Go.<br>
        </p>
        <p>
            You can read <a href="{{ $baseurl }}/about-me/">more about him</a>, or 
            <a href="http://peethallgatzene.tumblr.com/" target="_blank">listen to music he likes</a> too.
        </p>
    </section>