<ul class="nav navbar-nav">
    <li>
        <a href="{{ .Site.BaseUrl }}/code/">code</a>
    </li>
    <li>
        <a href="{{ .Site.BaseUrl }}/talk/">talk</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">popular tags <b class="caret"></b></a>
        <ul class="dropdown-menu">
            {{ range first 10 .Site.Taxonomies.tags.ByCount }}
            <li><a href="/tags/{{ .Name | urlize }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </li>
</ul>
